@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700|Merriweather:300,400,700");
body {
  text-align: center;
  font-family: "EB Garamond", serif;
  line-height: 1.6;
  font-size: 1rem;
}

h1, h2, h3, h4, p, figure, figcaption {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 2em 1em;
}

.home {
  display: grid;
  position: relative;
  height: 65vh;
}
@media (min-width: 1200px) {
  .home {
    grid-template-columns: minmax(auto, 200px) minmax(900px, 1fr);
  }
}

nav {
  background: rgba(234, 179, 226, 0.8);
  height: 6vh;
}
@media (min-width: 1200px) {
  nav {
    height: 65vh;
    background: #030a2b;
    border-right: 1px solid rgba(234, 179, 226, 0.4);
  }
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-around;
}
@media (min-width: 1200px) {
  nav ul {
    flex-direction: column;
    justify-content: space-around;
    height: 65vh;
    display: flex;
  }
}
@media (min-width: 1200px) {
  nav li {
    display: flex;
    flex: 1 1 auto;
  }
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #030a2b;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "EB Garamond", serif;
  transition: background 350ms;
}
@media (min-width: 1200px) {
  nav a {
    color: #eab3e2;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav a:hover, nav a:focus {
    background: #020724;
  }
}

.logo {
  height: 100px;
  position: relative;
  z-index: 1;
}
@media (min-width: 1200px) {
  .logo {
    height: 16%;
    background: #020724;
    padding: 1em 0;
  }
}

.hero {
  background: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 65vh;
  display: grid;
  place-items: center;
  position: relative;
}

.hero__front {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero__title {
  position: absolute;
  bottom: 5em;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 800px;
}
@media (min-width: 1200px) {
  .hero__title {
    bottom: 6em;
  }
}
@media (min-width: 1500px) {
  .hero__title {
    bottom: 9em;
  }
}

.application {
  background: #020724;
}

.apps {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 1200px) {
  .apps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1rem;
    margin: 0;
  }
}
@media (min-width: 1500px) {
  .apps {
    max-width: 80%;
    margin: 0 auto;
  }
}

.phone-section {
  display: none;
  position: relative;
}
@media (min-width: 1200px) {
  .phone-section {
    display: block;
  }
}

.logo2 {
  display: none;
}
@media (min-width: 1200px) {
  .logo2 {
    display: inline-block;
    position: absolute;
    height: 90px;
    left: 0;
    right: 0;
    top: 9.5em;
    margin: 0 auto;
  }
}
@media (min-width: 1500px) {
  .logo2 {
    height: 120px;
    top: 9em;
  }
}

.phone {
  display: none;
  transform: translateY(0);
}
@media (min-width: 1200px) {
  .phone {
    position: relative;
    display: inline-block;
    max-height: 600px;
    transform: translateY(-2em);
    margin: 0 auto;
  }
}
@media (min-width: 1500px) {
  .phone {
    transform: translateY(-3em);
    max-height: 700px;
  }
}

.text__left, .text__right {
  display: grid;
  padding: 4em 0;
}
@media (min-width: 1200px) {
  .text__left, .text__right {
    justify-content: space-around;
    padding: 4em 2em;
  }
}

.text__left {
  padding: 3em 0;
}
@media (min-width: 1200px) {
  .text__left {
    text-align: right;
    margin-left: auto;
  }
}

.text__right {
  padding: 3em 0;
}
@media (min-width: 1200px) {
  .text__right {
    text-align: left;
    margin-right: auto;
  }
}

.title__left, .title__right {
  color: #eab3e2;
  text-transform: uppercase;
  margin-top: 1.5em;
}
@media (min-width: 1200px) {
  .title__left, .title__right {
    margin-top: 0;
  }
}

.content__left, .content__right {
  color: rgba(234, 179, 226, 0.2);
}

.app {
  height: 60vh;
  background: #020724;
  position: relative;
}

.app__img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
}

.train {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

footer {
  height: 30vh;
  background: #eab3e2;
  position: relative;
  padding-top: 3em;
}

/*# sourceMappingURL=main.css.map */
