.app {
height: 30vh;
background: $clr-blue;
position: relative;
@include mq(1238px) {
height: 60vh;
}




}

.app__img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    }


  .train {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  
  .rocks {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }