// Media query

$breakpoints: (
small: 450px,
medium: 880px,
large: 1200px,
xl: 1500px,
);

@mixin mq($size) {
@if map-has-key($breakpoints, $size) {
$breakpoint: map-get($breakpoints, $size);
@media(min-width: $breakpoint) {
@content;
}
}
@else if type-of($size) == number and not unitless($size) {
@media(min-width: $size) {
@content;
}
}
@else {
@error "this map key doesnt have #{$size} key or is uniteless"
}
}

// Container

@mixin container($width: 80%) {
max-width: $width;
margin: 0 auto;
};


// Line

@mixin line($bg: currentColor, $width: 40%) {
&::after {
content: '';
background: $bg;
width: $width;
height: 1px;
display: block;
margin: .5em auto;

}
}


